<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Insert FUNDUS </title>
</head>
<body>

    <!-- {% for key,value in form_data.items() %}
    <h2> {{key}} </h2>
    <p> {{value}} </p>
    {% endfor %} -->

    <h2> Hi {{form_data['userEmail']}} </h2>
    <h2> I hacked your account , your password is {{form_data['userPassword']}} </h2>

    <!-- <label id="img"> Insert Your Image Here: </label>
    <input type="file">
    <small> Already have an account ? <a href="ibm-index.html"> Sign In! </a></small> -->

</body>
</html>